# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
metro-cache/
npm-debug.*
yarn-debug.*
yarn-error.*
ios/main.jsbundle

# Environment variables and secrets
.env
.env.local
.env.preview
.env.*.local
google-services.json
eas.json

# Android
*.apk
*.aab
*.keystore

# iOS
*.ipa

# System files
.DS_Store
.DS_Store?
._*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local files
GEMINI.md

requirements.pdf
.tmp/
.gemini/